!!!
%html
  %head
    %title= @title || "Title"
    %link{ rel: "icon", href: "data:;base64,iVBORw0KGgo=" }
    %link{ href: "/application.css", rel: "stylesheet", type: "text/css" }
  %body
    #access
      %ul
        %li
          = link_to "skip to content", "#content"
        %li
          = link_to "skip to navigation", "#nav"
    #branding
      %h1
        = link_to "Title", "#"
    #nav
    #content
      = yield

    #footer
      %p#legal
        &mdash;
        &copy;
        = current_year
        Elle Meredith
