!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/stylesheets/master.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #access
      %ul
        %li
          %a{ :href => "#content"} skip to content
          %a{ :href => "#nav"} skip to navigation
      #branding
        %h1
          %a{:href => '/'}= SiteConfig.title
      #content= yield
      #footer
        %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} #{SiteConfig.author} &mdash;"
